In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("input"))

['data.csv']

In [9]:
data = pd.read_csv('input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [10]:
len(data)

1890

# Предобработка датасета

In [94]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [95]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [96]:
answer_ls.append(2)
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [97]:
answer_ls.append(3)
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [98]:
answer_ls.append(2)
round(data.runtime.mean(), 0)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [99]:
answer_ls.append(1)
round(data.runtime.median(), 0)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [100]:
answer_ls.append(5)
data[(data.revenue - data.budget) == (data.revenue - data.budget).max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [101]:
answer_ls.append(2)
data[(data.revenue - data.budget) == (data.revenue - data.budget).min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [102]:
answer_ls.append(1)
data[(data.revenue - data.budget) > 0].imdb_id.nunique()

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [103]:
answer_ls.append(4)
data9 = data
# создаем новый столбец profit в data9:
data9['profit'] = data9.revenue - data9.budget         
data9.loc[data9['profit'] == data9[data9['release_year'].isin(['2008'])].profit.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [104]:
answer_ls.append(5)
data9.loc[data9['profit'] == data9[data9['release_year'].isin(['2012', '2013', '2014'])].profit.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [105]:
answer_ls.append(3)
# Составляем список списков жанров list_genres по каждому фильму
list_genres = [x.split('|') for x in data.genres]
# Раскрываем список списков в простой список list_genres_long
list_genres_long = [j for i in list_genres for j in i]                
Counter(list_genres_long).most_common(2)

[('Drama', 782), ('Comedy', 683)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [106]:
answer_ls.append(1)
data12 = data9[data9['profit'] > 0]  # data12 - прибыльные фильмы
list_genres_profit = [x.split('|') for x in data12.genres]
c = [j for i in list_genres_profit for j in i]              
Counter(c).most_common(2)

[('Drama', 560), ('Comedy', 551)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [107]:
answer_ls.append(3)
data.director.value_counts().head()

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Shawn Levy           10
Steven Spielberg     10
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [108]:
answer_ls.append(4)
data12.director.value_counts().head()

Ridley Scott         12
Steven Spielberg     10
Clint Eastwood       10
Steven Soderbergh    10
Shawn Levy            9
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [109]:
answer_ls.append(5)
data12.groupby(['director']).profit.sum().sort_values(ascending = False).head()

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [110]:
answer_ls.append(1)
# data16 = data + столбец 'actors' со списками актеров + столбец 'profit'
data16 = data9                                               
data16['actors'] = [x.split('|') for x in data16.cast]

# Составляем в цикле словарь d_a, где ключи - актеры, а значения - принесенная ими прибыль
d_a = {}
for j in range(0,1890):                 
    prof = data16.profit[j]
    x = data16.actors[j]
    for i in range(0,(len(x))):
        if x[i] in d_a:
            d_a[x[i]] += prof
        d_a.setdefault(x[i], prof)      

d_a_ser = pd.Series(d_a)               # Делаем из словаря серию и сортируем ее:
d_a_ser.sort_values(ascending = False).head(10)

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
Orlando Bloom         5148578162
Johnny Depp           4776417000
Ralph Fiennes         4739260140
Michelle Rodriguez    4608031235
Anne Hathaway         4490351538
dtype: int64

In [134]:
# Создание полной базы data_all для анализа
data_all = pd.read_csv('input/data.csv')

# столбцы actors, studios и genre содержат списки элементов, и столбец profit.
data_all['profit'] = data_all.revenue - data_all.budget
data_all['actors'] = [x.split('|') for x in data_all.cast]
data_all['studios'] = [x.split('|') for x in data_all.production_companies]
data_all['genre'] = [x.split('|') for x in data_all.genres]

#Добавляем столбцы actors_s, studios_s и genre_s,
# которые будут содержать эти же элементы в виде строк.
data_all['actors_s'] = data_all['actors']
data_all['studios_s'] = data_all['studios']
data_all['genre_s'] = data_all['genre']

# Создаем строки вместо списков в новых столбцах
for i in range(0,1890):                                           
    data_all['actors_s'][i] = ", ".join(data_all['actors'][i])
    data_all['studios_s'][i] = ", ".join(data_all['studios'][i])
    data_all['genre_s'][i] = ", ".join(data_all['genre'][i])

C:\Users\Finland\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Finland\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Finland\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [135]:
# Задача №16(второе решение)

# Создаем список всех актеров во всех фильмах actors_list_long 
c = [x.split('|') for x in data_all.cast]
actors_list_long = [j for i in c for j in i]

# Убираем из списка повторения
actors_list = list(set(actors_list_long))

# Вычисляем в цикле по списку всех актеров принесенную каждым прибыль и заносим имя(ключ) и прибыль(знач) в словарь actors_dict
actors_dict ={}
for name in actors_list:       
    actors_dict.setdefault(name, data_all[data_all.actors_s.str.contains(name, na=False)].profit.sum())
    
# Выводим на печать имя с максимальной прибылью        
print(max(actors_dict, key=actors_dict.get), max(actors_dict.values()))

Emma Watson 6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [111]:
answer_ls.append(3)
data17 = data16
data17 = data17[data17['release_year'].isin(['2012'])]

# Повторяем схему решения задачи №16
d1_a = {}
for j in range(971,1082):    
    prof = data17.profit[j]
    x = data17.actors[j]
    for i in range(0,(len(x))):
        if x[i] in d1_a:
            d1_a[x[i]] += prof
        d1_a.setdefault(x[i], prof)
        
d1_a_ser = pd.Series(d1_a)               
d1_a_ser.sort_values(ascending = False).tail(5)

Malin Ã…kerman   -43733509
Heidi Hawkins    -51893525
James Kidnie     -51893525
Timothy Spall    -51893525
Kirsten Dunst    -68109207
dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [112]:
answer_ls.append(3)
data18 = data16[data16.budget > data16.budget.mean()]  #  data18 - выборка по высокобюджетным фильмам

actors_list = [x for x in data18.actors]
c5 = [j for i in actors_list for j in i]              # список всех актеров в каждом столбце из высокобюджетных
Counter(c5).most_common(5)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [113]:
answer_ls.append(2)
# Берем строки, содержащие "Nicolas Cage" и подсчитываем частоту встречающихся в них жанров:
genr = [x.split('|') for x in data_all[data_all.actors_s.str.contains("Nicolas Cage")].genres]
c = [j for i in genr for j in i]                

Counter(c).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [114]:
answer_ls.append(1)
# Аналогично №19
data20 = data
data20['studios'] = [x.split('|') for x in data_all.production_companies]
comp = [x for x in data20.studios]
c = [j for i in comp for j in i]  

Counter(c).most_common(3)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [115]:
answer_ls.append(4)
data21 = data_all[data_all['release_year'].isin(['2015'])]
comp21 = [x for x in data21.studios]
c = [j for i in comp21 for j in i]  

Counter(c).most_common(3)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [116]:
answer_ls.append(2)
# Делаем выборку из базы по комедиям и восстанавливаем нормальную нумерацию индекса 
data_all22 = data_all[data_all.genre_s.str.contains("Comedy")].reset_index(drop=True)

# Составляем в цикле словарь d_a22, где ключи -студии, а значения - принесенная ими прибыль
d_a22 = {}
for j in range(0,len(data_all22['runtime'])):                 
    prof = data_all22.profit[j]
    x = data_all22.studios[j]
    for i in range(0,(len(x))):
        if x[i] in d_a22:
            d_a22[x[i]] += prof
        d_a22.setdefault(x[i], prof)
        
# Делаем из словаря серию и сортируем ее        
d_a_ser22 = pd.Series(d_a22)
d_a_ser22.sort_values(ascending = False).head()

Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [117]:
answer_ls.append(3)
# аналогично №22
data_all23 = data_all[data_all['release_year'].isin(['2012'])].reset_index(drop=True)
L = len(data_all23.runtime)
d_a23 = {}

for j in range(0,L):                
    prof = data_all23.profit[j]
    x = data_all23.studios[j]
    for i in range(0,(len(x))):
        if x[i] in d_a23:
            d_a23[x[i]] += prof
        d_a23.setdefault(x[i], prof)
      
d_a_ser23 = pd.Series(d_a23)
d_a_ser23.sort_values(ascending = False).head()

Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [118]:
answer_ls.append(1)
data_all24 = data_all[data_all.studios_s.str.contains("Paramount Pictures")]
data_all24.loc[data_all24['profit'] == data_all24.profit.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [119]:
answer_ls.append(5)
data_all.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [120]:
answer_ls.append(1)
data_all26 = data_all[data_all.studios_s.str.contains("Warner Bros.")]
data_all26.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [121]:
answer_ls.append(4)
data_all27 = data_all
data_all27['release_date'] = pd.to_datetime(data_all27['release_date'])  # приводим дату к формату datetime64
c = data_all27['release_date'].dt.month                                  # выделяем из столбца даты столбец месяцев 'c'
Counter(c).most_common(12)

[(9, 227),
 (12, 191),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140),
 (2, 135),
 (1, 110)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [122]:
answer_ls.append(2)
c_month = sorted(Counter(c).most_common(12))     # сортируем список по порядку возрастания месяца
c_month[5][1] + c_month[6][1] + c_month[7][1]

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [123]:
answer_ls.append(5)
data_all288 = data_all
data_all288['release_date'] = pd.to_datetime(data_all288['release_date'])

c288 = data_all288.loc[data_all288['release_date'].dt.month.isin([12, 1, 2])]  # фильтр базы по зимним месяцам
Counter(c288.director).most_common(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [124]:
answer_ls.append(2)
data_all30 = data_all
data_all30['release_date'] = pd.to_datetime(data_all30['release_date'])

# создаем сводную таблицу: столбцы - год выхода, строки - месяц выхода, значения - сумма прибыли в этом месяце
pivot_all30 = data_all30.pivot_table(values = ['profit'], index = ['release_year'], 
                                   columns = data_all30['release_date'].dt.month, aggfunc='sum')
# создаем список лучших месяцев за 16 лет
s = []
for i in range(2000,2016):
    s.append(pivot_all30.loc[i]['profit'].sort_values().reset_index()['release_date'][11])
    
pd.Series(s).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [125]:
answer_ls.append(5)
data_all31 = data_all
# Добавляем в базу столбец с длинами названий 'len_name'
data_all31['len_name'] = data_all31['original_title'].apply(len)

# Создаем таблицу studios_df со списком всех компаний в столбце 'company'
c = [x.split('|') for x in data_all31.production_companies]
studios_list = [j for i in c for j in i] 
studios_df = pd.Series(studios_list).value_counts().reset_index()
studios_df.columns = ['company', 'films']

# Вычисляем в цикле искомую наибольшую среднюю длину названий по компаниям
x = 0
for st in studios_df.company:       
    x1 = data_all31[data_all31.studios_s.str.contains(st)].len_name.mean()
    if x1 > x:
        x = x1
        st_max = st
print(st_max)

Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [126]:
answer_ls.append(5)
data_all32 = data_all

# Создаем функцию, которая считает слова в строке
def words_count(x):
    y = len(x.split())
    return y

# Добавляем в базу столбец с длинами названий 'len_words'
data_all32['len_words'] = data_all32['original_title'].apply(words_count)

# Вычисляем в цикле искомое наибольшее среднее кол-во слов в названии по компаниям
x = 0
for st in studios_df.company:       
    x1 = data_all32[data_all32.studios_s.str.contains(st)].len_words.mean()
    if x1 > x:
        x = x1
        st_max = st
print(st_max)

Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [127]:
answer_ls.append(3)
data_all33 = data_all
# Создаем список всех слов в названиях
c = [x.split(' ') for x in data_all33.original_title]
words_list = [j for i in c for j in i]

# Создаем таблицу words_df со списком всех слов в столбце 'words' и убираем совпадающие слова
words_df = pd.Series(words_list).value_counts().reset_index()
words_df.columns = ['words', 'freq']
len(words_df.words)

2477

In [51]:
# Задача №33 - второе решение
data_all33 = data_all
# Собираем все названия в одну длинную строку long_str
long_str = (data_all33.original_title + ' ').sum()

# Находим все совпадения с паттерном
import re
pattern = re.compile('\w*')
word2 = pattern.findall(long_str)

# убираем одинаковые слова
words_df2 = pd.Series(word2).value_counts().reset_index()
words_df2.columns = ['words', 'freq']
len(words_df2.words)

2375

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [128]:
answer_ls.append(1)
data_all34 = data_all
# Используем np.percentile() для вычисления 1% лучших
data_all34[data_all34.vote_average > np.percentile(data_all34.vote_average, 99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [129]:
answer_ls.append(5)
data_all35 = data_all
#
actors1 = ["Johnny Depp", "Hugh Jackman", "Vin Diesel", "Adam Sandler", "Daniel Radcliffe"]
actors2 = ["Helena Bonham Carter", "Ian McKellen", "Paul Walker", "Kevin James", "Rupert Grint"]
for i in range(5):
    k=(data_all35.actors_s.str.contains(actors1[i]) & data_all35.actors_s.str.contains(actors2[i])).value_counts()
    print(actors1[i], '&', actors2[i], ': ', k[True])

Johnny Depp & Helena Bonham Carter :  6
Hugh Jackman & Ian McKellen :  5
Vin Diesel & Paul Walker :  5
Adam Sandler & Kevin James :  5
Daniel Radcliffe & Rupert Grint :  8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [130]:
answer_ls.append(4)
data_all36 = data_all    
dir_list = ["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]
# Вычисляем в цикле для каждого режиссера var=(кол-во прибыльных)/(кол-во снятых) фильмов:
# (можно аналогично делать цикл по полному списку режиссеров)
var_max = 0
for dir in dir_list:
    films = len(data_all36[data_all36.director.str.contains(dir)].profit)
    films_profit = len(data_all36[data_all36.director.str.contains(dir)].query('profit > 0'))
    var = round(films_profit/films, 2)
# и выбираем наибольшее значение.
    if var > var_max:
        var_max = var
        name = dir
        
print(name, var_max)

Christopher Nolan 1.0

# Submission

In [131]:
len(answer_ls)

36

In [132]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4