In [125]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("input"))

['data.csv']

In [126]:
data = pd.read_csv('input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [127]:
len(data)

1890

# Предобработка датасета

In [171]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста

# Создаем столбец release_date64 с датой в формате datetime64
data['release_date64'] = pd.to_datetime(data['release_date'])

# Создаем столбец profit=revenue-budget
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [172]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [173]:
answer_ls.append(2)
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [174]:
answer_ls.append(3)
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [175]:
answer_ls.append(2)
round(data.runtime.mean(), 0)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [176]:
answer_ls.append(1)
round(data.runtime.median(), 0)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [177]:
answer_ls.append(5)
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [178]:
answer_ls.append(2)
data[data.profit == data.profit.min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [179]:
answer_ls.append(1)
len(data[data.profit > 0])

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [180]:
answer_ls.append(4)
data[data.profit == data.query('release_year == 2008').profit.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [181]:
answer_ls.append(5)
data[data.profit == data[data.release_year.isin(['2012','2013','2014'])].profit.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [182]:
answer_ls.append(3)
# Составляем список списков жанров list_genres по каждому фильму
list_genres = [x.split('|') for x in data.genres]
# Раскрываем список списков в простой список list_genres_long
list_genres_long = [j for i in list_genres for j in i]                
Counter(list_genres_long).most_common(2)

[('Drama', 782), ('Comedy', 683)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [183]:
answer_ls.append(1)
data12 = data[data['profit'] > 0]  # data12 - прибыльные фильмы
list_genres_profit = [x.split('|') for x in data12.genres]
c = [j for i in list_genres_profit for j in i]              
Counter(c).most_common(2)

[('Drama', 560), ('Comedy', 551)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [184]:
answer_ls.append(3)
data.director.value_counts().head(5)

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Steven Spielberg     10
Shawn Levy           10
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [185]:
answer_ls.append(4)
data12.director.value_counts().head(5)

Ridley Scott         12
Steven Spielberg     10
Clint Eastwood       10
Steven Soderbergh    10
Shawn Levy            9
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [186]:
answer_ls.append(5)
data12.groupby(['director']).profit.sum().sort_values(ascending = False).head(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [187]:
answer_ls.append(1)
# Составляем список списков актеров actor_list_long из столбца cast
actor_lists = [x.split('|') for x in data.cast]
actor_list_long = [j for i in actor_lists for j in i]
# Убираем из списка повторы
actor_list = list(set(actor_list_long))

# Составляем словарь actor_dict, где актеры-ключи, их кассовые сборы-значения и выбираем максимальные
actor_dict ={}
for actor in actor_list:       
    actor_dict.setdefault(actor, data[data.cast.str.contains(actor, na=False)].profit.sum())    
        
print(max(actor_dict, key=actor_dict.get), max(actor_dict.values()))

Emma Watson 6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [188]:
answer_ls.append(3)
data2012 = data.query('release_year == 2012')
# Составляем список списков актеров actor_list_long из столбца cast
actor_lists = [x.split('|') for x in data2012.cast]
actor_list_long = [j for i in actor_lists for j in i]
# Убираем из списка повторы
actor_list = list(set(actor_list_long))

# Составляем словарь actor_dict, где актеры-ключи, их кассовые сборы-значения
actor_dict ={}
for actor in actor_list:       
    actor_dict.setdefault(actor, data2012[data2012.cast.str.contains(actor, na=False)].profit.sum())    
        
print(min(actor_dict, key=actor_dict.get), min(actor_dict.values()))

Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [189]:
answer_ls.append(3)
# Фильтруем базу по высокобюджетным фильмам и повторяем ход решения задачи №11
data16 = data[data.budget > data.budget.mean()]
actor_list16 = [x.split('|') for x in data16.cast]
actor_list16_long = [j for i in actor_list16 for j in i]

Counter(actor_list16_long).most_common(3)

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [190]:
answer_ls.append(2)
# Берем строки, содержащие "Nicolas Cage" и подсчитываем частоту встречающихся в них жанров:
genr = [x.split('|') for x in data[data.cast.str.contains("Nicolas Cage")].genres]
c = [j for i in genr for j in i]                

Counter(c).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [191]:
answer_ls.append(1)
studios_list = [x.split('|') for x in data.production_companies]
studios_list_long = [j for i in studios_list for j in i] 

Counter(studios_list_long).most_common(3)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [192]:
answer_ls.append(4)
data21 = data[data.release_year.isin(['2015'])]
comp21 = [x.split('|') for x in data21.production_companies]
c = [j for i in comp21 for j in i]  

Counter(c).most_common(3)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [193]:
answer_ls.append(2)
# Делаем выборку из базы по комедиям и восстанавливаем нормальную нумерацию индекса 
data22 = data[data.genres.str.contains("Comedy")].reset_index(drop=True)

# Составляем в цикле словарь d_a22, где ключи -студии, а значения - принесенная ими прибыль
d_a22 = {}
for j in range(0,len(data22)):                 
    prof = data22.profit[j]
    x = data22.production_companies[j].split('|')
    for i in range(0,(len(x))):
        if x[i] in d_a22:
            d_a22[x[i]] += prof
        d_a22.setdefault(x[i], prof)
        
# Делаем из словаря серию и сортируем ее        
d_a_ser22 = pd.Series(d_a22)
d_a_ser22.sort_values(ascending = False).head()

Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [194]:
answer_ls.append(3)
# аналогично №22
data23 = data[data['release_year'].isin(['2012'])].reset_index(drop=True)

d_a23 = {}
for j in range(0,len(data23)):                
    prof = data23.profit[j]
    x = data23.production_companies[j].split('|')
    for i in range(0,(len(x))):
        if x[i] in d_a23:
            d_a23[x[i]] += prof
        d_a23.setdefault(x[i], prof)
      
d_a_ser23 = pd.Series(d_a23)
d_a_ser23.sort_values(ascending = False).head()

Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [195]:
answer_ls.append(1)
data24 = data[data.production_companies.str.contains("Paramount Pictures")]
data24[data24['profit'] == data24.profit.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [196]:
answer_ls.append(5)
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [197]:
answer_ls.append(1)
data26 = data[data.production_companies.str.contains("Warner Bros.")]
data26.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [198]:
answer_ls.append(4)
# Из подготовленного ранее столбца release_date64 в формате datetime64 анализируем подстолбец месяцев
st_month = data['release_date64'].dt.month
Counter(st_month).most_common(12)

[(9, 227),
 (12, 191),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140),
 (2, 135),
 (1, 110)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [199]:
answer_ls.append(2)
# Сортируем список по порядку возрастания месяца и суммируем значения летних месяцев
sort_month = sorted(Counter(st_month).most_common(12))     
sort_month[5][1] + sort_month[6][1] + sort_month[7][1]

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [200]:
answer_ls.append(5)
# Фильтр базы по зимним месяцам и счетчик по режиссерам
winter = data.loc[data['release_date64'].dt.month.isin([12, 1, 2])]
Counter(winter.director).most_common(3)

[('Peter Jackson', 7), ('Clint Eastwood', 6), ('Steven Soderbergh', 6)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [201]:
answer_ls.append(2)
# создаем сводную таблицу: столбцы - год выхода, строки - месяц выхода, значения - сумма прибыли в этом месяце
pivot_profit = data.pivot_table(values = ['profit'], index = ['release_year'], 
                                   columns = data['release_date64'].dt.month, aggfunc='sum')

# сортируем месяца каждого года по возрастанию прибыли и помещаем лучшие в список bestmonth
bestmonth = []
for i in range(2000,2016):
    bestmonth.append(pivot_profit.loc[i]['profit'].sort_values().reset_index()['release_date64'][11])    

Counter(bestmonth).most_common(3)

[(6, 7), (12, 4), (5, 4)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [202]:
answer_ls.append(5)
# Создаем список всех компаний studios_list
st_long = [x.split('|') for x in data.production_companies]
studios_list = list(set([j for i in st_long for j in i]))

# Составляем словарь studios_dict, где студии-ключи, а средние длины названий их фильмов-значения
studios_dict ={}
for stud in studios_list:       
    lenth = data[data.production_companies.str.contains(stud, na=False)].original_title.apply(len).mean()
    studios_dict.setdefault(stud, lenth)      
        
print(max(studios_dict, key=studios_dict.get), max(studios_dict.values()))

Four By Two Productions 83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [203]:
answer_ls.append(5)
# Создаем функцию, которая считает слова в строке
def words_count(x):
    y = len(x.split())
    return y

# Вычисляем в цикле искомое наибольшее среднее кол-во слов в названии по компаниям
lang_max = 0
for st in studios_list:       
    lang = data[data.production_companies.str.contains(st)].original_title.apply(words_count).mean()
    if lang > lang_max:
        lang_max = lang
        st_max = st
print(st_max, lang_max)

Four By Two Productions 12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [204]:
answer_ls.append(3)
# Создаем список всех слов в названиях
c = [x.split(' ') for x in data.original_title]
words_list = [j for i in c for j in i]

# Создаем таблицу words_df со списком всех слов в столбце 'words' и убираем совпадающие слова
words_df = pd.Series(words_list).value_counts().reset_index()
words_df.columns = ['words', 'freq']
len(words_df.words)

2477

In [167]:
# Задача №33 - второе решение
# Собираем все названия в одну длинную строку long_str
long_str = (data.original_title + ' ').sum()

# Находим все совпадения с паттерном
import re
pattern = re.compile('\w*')
word2 = pattern.findall(long_str)

# убираем одинаковые слова
words_df2 = pd.Series(word2).value_counts().reset_index()
words_df2.columns = ['words', 'freq']
len(words_df2.words)

2375

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [205]:
answer_ls.append(1)
# Используем np.percentile() для вычисления 1% лучших
data[data.vote_average > np.percentile(data.vote_average, 99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [206]:
answer_ls.append(5)
# Создаем функцию, которая создает список и сортирует его по алфавиту
def f(x):
    y = x.split('|')
    y.sort()
    return y

# Создаем список списков с вложенными отсортированными списками актеров 
actor_list = [f(x) for x in data.cast]
# Создаем список всех встречающихся в базе пар актеров и подсчитываем кол-во совпадающих пар
pairs_list_long = [(actor_list[i][j], actor_list[i][k]) for i in range(len(data)) 
                    for j in range(len(actor_list[i])) for k in range(len(actor_list[i])) if j < k]
Counter(pairs_list_long).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [207]:
answer_ls.append(4)    
dir_list = ["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]
# Вычисляем в цикле для каждого режиссера var=(кол-во прибыльных)/(кол-во снятых) фильмов:
# (можно аналогично делать цикл по полному списку режиссеров, но там много результатов с 1.0)
var_max = 0
for dir in dir_list:
    films = len(data[data.director.str.contains(dir)].profit)
    films_profit = len(data[data.director.str.contains(dir)].query('profit > 0'))
    var = round(films_profit/films, 2)
# и выбираем наибольшее значение.
    if var > var_max:
        var_max = var
        name = dir
        
print(name, var_max)

Christopher Nolan 1.0

# Submission

In [208]:
len(answer_ls)

36

In [209]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4